In [41]:
idade1 = 17

In [42]:
idade2 = 36

In [43]:
idade1 + idade2

53

In [44]:
somaIdades = idade1 + idade2

In [45]:
somaIdades

53

In [46]:
idade1 - idade2

-19

In [47]:
idade1 * idade2

612

In [48]:
idade1 / idade2

0.4722222222222222

In [49]:
idade1**2

289

In [50]:
idade1 + 10

27

In [51]:
idade1 - 15

2

In [52]:
idade1 * 4

68

In [53]:
idade1 /5

3.4

In [54]:
2*(idade1+idade2)

106

In [55]:
2*idade1 + 3  * idade2 /4

61.0

In [56]:
(2*idade1 +3 *idade2)/4

35.5

In [57]:
idade2**2

1296

In [58]:
25**2

625

In [59]:
idade2/idade1

2.1176470588235294

In [60]:
idade2//idade1

2

In [61]:
idade1 / idade2

0.4722222222222222

In [62]:
idade1 % idade2

17

In [63]:
nome = 'joao'

In [64]:
sobrenome = 'matheus'

In [65]:
print(nome + sobrenome)

joaomatheus

In [66]:
print(nome + '' + sobrenome)

joaomatheus

In [67]:
print('Olá, ',nome, 'você tem', idade2 - 19, 'anos.')

Olá,  joao você tem 17 anos.

In [68]:
print('Olá' , nome, '\n', 'você tem', idade2 - 19,'anos')

Olá joao
 você tem 17 anos

In [69]:
input('Digite o seu nome: ')

'joao'

In [70]:
nome = input('Digitw o seu nome: ')

In [71]:
nomne

NameError: name 'nomne' is not defined